@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Black.otf') format('opentype'),
             url('fonts/Aileron-Black.ttf') format('truetype'),
             url('fonts/Aileron-Black.svg') format('svg'),
             url('fonts/Aileron-Black.eot') format('eot'),
             url('fonts/Aileron-Black.woff') format('woff'),
             url('fonts/Aileron-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-BlackItalic.otf') format('opentype'),
             url('fonts/Aileron-BlackItalic.ttf') format('truetype'),
             url('fonts/Aileron-BlackItalic.svg') format('svg'),
             url('fonts/Aileron-BlackItalic.eot') format('eot'),
             url('fonts/Aileron-BlackItalic.woff') format('woff'),
             url('fonts/Aileron-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Bold.otf') format('opentype'),
             url('fonts/Aileron-Bold.ttf') format('truetype'),
             url('fonts/Aileron-Bold.svg') format('svg'),
             url('fonts/Aileron-Bold.eot') format('eot'),
             url('fonts/Aileron-Bold.woff') format('woff'),
             url('fonts/Aileron-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-BoldItalic.otf') format('opentype'),
             url('fonts/Aileron-BoldItalic.ttf') format('truetype'),
             url('fonts/Aileron-BoldItalic.svg') format('svg'),
             url('fonts/Aileron-BoldItalic.eot') format('eot'),
             url('fonts/Aileron-BoldItalic.woff') format('woff'),
             url('fonts/Aileron-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Heavy.otf') format('opentype'),
             url('fonts/Aileron-Heavy.ttf') format('truetype'),
             url('fonts/Aileron-Heavy.svg') format('svg'),
             url('fonts/Aileron-Heavy.eot') format('eot'),
             url('fonts/Aileron-Heavy.woff') format('woff'),
             url('fonts/Aileron-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-HeavyItalic.otf') format('opentype'),
             url('fonts/Aileron-HeavyItalic.ttf') format('truetype'),
             url('fonts/Aileron-HeavyItalic.svg') format('svg'),
             url('fonts/Aileron-HeavyItalic.eot') format('eot'),
             url('fonts/Aileron-HeavyItalic.woff') format('woff'),
             url('fonts/Aileron-HeavyItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Italic.otf') format('opentype'),
             url('fonts/Aileron-Italic.ttf') format('truetype'),
             url('fonts/Aileron-Italic.svg') format('svg'),
             url('fonts/Aileron-Italic.eot') format('eot'),
             url('fonts/Aileron-Italic.woff') format('woff'),
             url('fonts/Aileron-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Light.otf') format('opentype'),
             url('fonts/Aileron-Light.ttf') format('truetype'),
             url('fonts/Aileron-Light.svg') format('svg'),
             url('fonts/Aileron-Light.eot') format('eot'),
             url('fonts/Aileron-Light.woff') format('woff'),
             url('fonts/Aileron-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-LightItalic.otf') format('opentype'),
             url('fonts/Aileron-LightItalic.ttf') format('truetype'),
             url('fonts/Aileron-LightItalic.svg') format('svg'),
             url('fonts/Aileron-LightItalic.eot') format('eot'),
             url('fonts/Aileron-LightItalic.woff') format('woff'),
             url('fonts/Aileron-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Regular.otf') format('opentype'),
             url('fonts/Aileron-Regular.ttf') format('truetype'),
             url('fonts/Aileron-Regular.svg') format('svg'),
             url('fonts/Aileron-Regular.eot') format('eot'),
             url('fonts/Aileron-Regular.woff') format('woff'),
             url('fonts/Aileron-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-SemiBold.otf') format('opentype'),
             url('fonts/Aileron-SemiBold.ttf') format('truetype'),
             url('fonts/Aileron-SemiBold.svg') format('svg'),
             url('fonts/Aileron-SemiBold.eot') format('eot'),
             url('fonts/Aileron-SemiBold.woff') format('woff'),
             url('fonts/Aileron-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-SemiBoldItalic.otf') format('opentype'),
             url('fonts/Aileron-SemiBoldItalic.ttf') format('truetype'),
             url('fonts/Aileron-SemiBoldItalic.svg') format('svg'),
             url('fonts/Aileron-SemiBoldItalic.eot') format('eot'),
             url('fonts/Aileron-SemiBoldItalic.woff') format('woff'),
             url('fonts/Aileron-SemiBoldItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-Thin.otf') format('opentype'),
             url('fonts/Aileron-Thin.ttf') format('truetype'),
             url('fonts/Aileron-Thin.svg') format('svg'),
             url('fonts/Aileron-Thin.eot') format('eot'),
             url('fonts/Aileron-Thin.woff') format('woff'),
             url('fonts/Aileron-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-ThinItalic.otf') format('opentype'),
             url('fonts/Aileron-ThinItalic.ttf') format('truetype'),
             url('fonts/Aileron-ThinItalic.svg') format('svg'),
             url('fonts/Aileron-ThinItalic.eot') format('eot'),
             url('fonts/Aileron-ThinItalic.woff') format('woff'),
             url('fonts/Aileron-ThinItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-UltraLight.otf') format('opentype'),
             url('fonts/Aileron-UltraLight.ttf') format('truetype'),
             url('fonts/Aileron-UltraLight.svg') format('svg'),
             url('fonts/Aileron-UltraLight.eot') format('eot'),
             url('fonts/Aileron-UltraLight.woff') format('woff'),
             url('fonts/Aileron-UltraLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
      }

@font-face {
    font-family: 'Aileron';
        src: url('fonts/Aileron-UltraLightItalic.otf') format('opentype'),
             url('fonts/Aileron-UltraLightItalic.ttf') format('truetype'),
             url('fonts/Aileron-UltraLightItalic.svg') format('svg'),
             url('fonts/Aileron-UltraLightItalic.eot') format('eot'),
             url('fonts/Aileron-UltraLightItalic.woff') format('woff'),
             url('fonts/Aileron-UltraLightItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
      }
